<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Тестирование Task">
    <test name="Негативные тесты. Невалидный ввод. Использованы Allure descriptions" allow-return-values="true">

        <classes>
            <class name="Test1"></class>
        </classes>

    </test>
</suite>